Source: mlnx-en
Section: net
Priority: optional
Maintainer: Vladimir Sokolovsky <vlad@mellanox.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, bzip2, dkms
Standards-Version: 3.9.2
Homepage: http://www.mellanox.com/page/products_dyn?product_family=26&mtag=linux_sw_drivers

Package: mlnx-en-utils
Architecture: any
Depends: ${misc:Depends}, coreutils, pciutils, grep, procps, module-init-tools | kmod
Description: Userspace tools to restart and tune mlnx-ofed kernel modules

Package: mlnx-en-dkms
Section: kernel
Architecture: all
Depends: dkms, make, ${misc:Depends}, coreutils, pciutils, grep, procps, module-init-tools | kmod, mlnx-en-utils
Recommends: linux-headers-arm64 | linux-headers-powerpc | linux-headers-ppc64 | linux-headers-ppc64le | linux-headers-amd64 | linux-headers-generic | linux-headers
Description: DKMS support for mlnx-ofed kernel modules
 This package provides integration with the DKMS infrastructure for
 automatically building out of tree kernel modules.
 .
 This package provides the source code for the mlnx-ofed kernel modules.
 .
 This package contains the source to be built with dkms.
